/* Base Application Styles */
body {
  color: #fff;
  background: #AFAFAF;
  font-family: Georgia, "Times New Roman", "Hiragino Sans GB", "Microsoft YaHei",
  "WenQuanYi Micro Hei", sans-serif, serif;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  background: #666;
}

.option {
  list-style: circle;
  width: 8em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.option:active,
.option:focus {
  list-style: disc;
}

li:hover {
  cursor: pointer;
}

ul {
  padding-left: 10px;
  font-size: 1.2em;
  line-height: 2em;
}

#leftUp, #up, #rightUp, #left, #middle, #right, #leftDown, #down, #rightDown {
  display: inline-block;
  margin:0;
  padding:0;
  position: absolute;
}

#rightUp, #right, #rightDown {
  right: 0;
  width: 75px;
}

#left, #leftUp,#leftDown {
  left: 0;
  width: 70px;
}

#up, #leftUp, #rightUp {
  top: 0;
  height: 55px;
}

#down, #leftDown, #rightDown {
  bottom: 0;
  height: 65px;
}


#leftUp {
  background-image: url("../images/left-up.png");
  background-size: 70px ;
}

#up {
  left: 70px;
  right: 75px;
  background-image: url("../images/up.png");
  backgrounf-repeat: repeat-x;
  background-size: auto 55px;
}

#rightUp {
  float: right;
  background-image: url("../images/right-up.png");
  background-size: 75px auto;
}

#left {
  position: absolute;
  width: 70px;
  top: 55px;
  bottom: 65px;
  background-image: url("../images/left.png");
  background-repeat: repeat-y;
  background-size: 70px auto;
}

#middle {
  position: absolute;
  vertical-align: top;
  top: 55px;
  bottom: 65px;
  left: 70px;
  right: 75px;
  background-color: #147269;
  padding: 30px;
}

#right {
  position: absolute;
  top: 55px;
  bottom: 65px;
  background-image: url("../images/right.png");
  background-repeat: repeat-y;
  background-size: 75px auto;
}

#leftDown {
  background-image: url("../images/left-down.png");
  background-size: 70px;
}

#down {
  left: 70px;
  right: 75px;
  background-image: url("../images/down.png");
  background-size: auto 65px;
}


#rightDown {
  background-image: url("../images/right-down.png");
  background-size: 75px;
}

#wrapper {
  position: absolute;
  width: 100%;
  max-width: 960px;
  height: 100%;
  max-height: 640px;
}

#graphInitial {
  width: 100%;
  text-align: center;
  position: relative;
}

#coverText {
  position: relative;
  text-align: center;
  margin-top: 30px
}

#graph {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#result {
  font-size: 10px;
}

#pointer {
  position:absolute;
  left:44%;
  width:12%;
  top: 50%;
}

#spinner {
  width:100%;
  position: relative;
}
/*
#checkbox {
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  margin-right: 10px;
}

#checkbox:hover, #checkbox:visited {
  background-color: white;
}
*/

#code {
  position: relative;
  padding: 10px;
  float: right;
  background-color: #C8916E;
  border: 3px solid #7F604D;
}

#code img{
  z-index: 100;
  width: 100px;
}

#optiontext {
  display: inline-block;
  height: 20px;
  vertical-align: top;
}



.rotate {
  transition: all 1s ease-in-out;
}

#socialBar {
  position:relative;
  margin-top: 20px;
  margin: 0px 10px 0px 10px;
  z-index: 1;
  text-align: right;
}

button {
  margin: 0 10px 10px 0;
  background-color:#82ad8d;
  border:1px solid #e1e8e1;
  cursor:pointer;
  color:#ffffff;
  padding:3px 6px;
  text-decoration:none;
}

button:hover {
  background-color:#c4cfbf;
}

button:active {
  position:relative;
  top:1px;
}

button img {
  width: 30px
}

#commentText {
  position: relative;
  font-size: 1em;
  margin: 20px 10px 20px 10px;
  padding: 5px;
  background: #1F8478;
  border: 1px dotted white;
}

#slider {
  width: 80%
}

#currentValue {
  font-size: 1.5em;
  text-align: center;
}

button#next {
  margin-top: 50px;
  margin-left: 1em;
}

#finalNotice {
  font-size: 0.8em;
  position: absolute;
  top: 100%;
  left: 35px;
  right: 37px;
  padding: 15px;
  color: black;
}

#coverTect {
  margin: 0 auto
}

#start {
  width: 50%;
  margin: 50px auto !important;
  text-align: center;
  background-color: #14A392;
  padding: 5px;
  border: 2px solid #BAE0DB;
  cursor: pointer;
}

#start:focus, #start:active {
  background-color: #012D27;
}

@media (min-width: 600px) {
  #pointer {
    position:absolute;
    left:44%;
    width:12%;
    top: 50%;
    border: 0px
  }

  #spinner {
    width: 70%;
    left: 15%;
    right: 15%;
    position: relative;
  }

  #graphInitial {
    width: 70%;
    left: 15%;
    right: 15%
  }

  #graphInitial {
    width: 70%;
    left: 15%;
    right: 15%
  }
}

@media (max-width: 600px) {

  #rightUp, #right, #rightDown {
    width: 37px;
  }

  #left, #leftUp,#leftDown {
    width: 35px;
  }

  #up, #leftUp, #rightUp {
    height: 27px;
  }

  #down, #leftDown, #rightDown {
    height: 32px;
  }


  #leftUp {
    background-size: 35px ;
  }

  #up {
    left: 35px;
    right: 37px;
    background-size: auto 27px;
    z-index: 0;
    background-color: #AFAFAF;
  }

  #rightUp {
    background-size: 37px auto;
  }

  #left {
    width: 35px;
    top: 27px;
    bottom: 32px;
    background-size: 35px auto;
  }

  #middle {
    top: 27px;
    bottom: 32px;
    left: 35px;
    right: 37px;
    padding: 15px;
  }

  #right {
    top: 27px;
    bottom: 32px;
    background-size: 37px auto;
  }

  #leftDown {
    background-size: 35px;
  }

  #down {
    left: 35px;
    right: 37px;
    background-size: auto 32px;
    z-index: 0;
    background-color: #AFAFAF;
  }


  #rightDown {
    background-image: url("../images/right-down.png");
    background-size: 37px;
  }

  button img {
    width: 25px
  }
}
